.posts_btn{
    position: fixed;
    right: 10%;
    top: 57px;
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 160px;
    height: 60px;
    line-height: 60px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    z-index: 1;
}

.posts_btn:hover{
    background: #668ad8;
    text-decoration: none;
}

.card-title {
    color: black !important;
    transition: .5s;
}

.home-sub-title{
    transition: .5s;
}

.home-sub-title:hover{
    text-decoration: none;
    background-color: rgba(108, 170, 233, 0.5);
}
.home-sub-title:hover .card-title{
    font-size: 20px;
}

.home-sub-title:hover .card-img-top{
    transition-duration: 0.5s;
    opacity: 0.6;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    transition-duration: 0.5s;
 }
 
 .navbar {
   background-color: #CCFFFF;
   z-index: 10;
   position: fixed;
   width: 100%;
   opacity: 0.9;
   margin-bottom: 30px;
   left: 0;
   top: 0;
 }
 
 
 /*posts.index.blade.php*/
 
.posts-title {
    position: relative;
    padding: 1.5rem 2rem;
    -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}

.posts-title:before,
.posts-title:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background-image: -webkit-linear-gradient(315deg, #eaf8dc 0%, #d5f1b8 40%, #bfea95 60%, #f4fced 100%);
    background-image: linear-gradient(135deg, #eaf8dc 0%, #d5f1b8 40%, #bfea95 60%, #f4fced 100%);
}

.posts-title:before {
    top: 0;
}

.posts-title:after {
    bottom: 0;
}


.posts-top {
     font-size: 16px !important;
 }
 
 .posts_card {
     padding: 0.5em 1em;
     margin: 2em 0;
     border-top: solid 6px #bfea95;
     box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
 }
 
 .posts-item {
      position: relative;
  }
  
  .favorite-btn {
      position: absolute;
      top: 18.5px;
      right: 10px;
      color: #999999;
      display: inline-block;
  }
  
  .posts-delete {
      position: absolute;
      top: 18.5px;
      right: 100px;
      display: inline-block;
  }
  
  .posts-comment {
    width: 80%;
  }

/*posts:create.blade.php*/
.common-input {
    position: relative;
    margin-top: 50px;
}

.common-input input[type="number"] {
    display: inline-block;
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
    box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15);
  }
 
 .common-input input[type="number"] + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 3px 0 0 3px;
    padding: 0 20px;
    background: #d5f1b8;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
  
  .common-input input[type="number"]:focus + label{
    transform: translateY(-90%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
  }
  
  .common-input input[type="number"]:focus{
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
  }
  
  .common-input textarea {
    display: inline-block;
    width: 500px;
    height: 80px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
    box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15);
  }
 
 .common-input textarea + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 80px;
    line-height: 80px;
    border-radius: 3px 0 0 3px;
    padding: 0 20px;
    background: #d5f1b8;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
  
  option[selected][disabled] {
  display: none;
}

.common-select {
  /* デフォルトのスタイルを解除 */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* スタイル */
  display: inline-block;
  width: 100%;
  max-width: 250px; 
  margin: 1em 0; 
  padding: 0.6em 1.5em 0.6em 0.5em; 
  cursor: pointer; 
  line-height: 1.4;
  font-size: 0.95em; 
  color: #333; 
  border-radius: 4px; 
  background-color: #d5f1b8; 
  border: solid 1px #e1e8ef; 
  box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15);
  background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
  background-size: 5px 5px, 5px 5px;
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-repeat: no-repeat;
}

.common-select:focus {
  outline: 0;
  border-color: #b0c5ff; 
  
}
.common-select::-ms-expand {
  display: none;
}

.common-submit {
  display       : inline-block;
  border-radius : 5%;          
  text-align    : center;      
  cursor        : pointer;     
  padding       : 8px 30px;   
  background    : #d5f1b8;     
  color         : #000000;    
  line-height   : 1em;         
  opacity       : 1;           
  transition    : .3s;        
  box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15);
  border:none;
}
.common-submit:hover {
  box-shadow    : none;       
  opacity       : 0.8;    
}

/*posts.add_workout.blade.php*/
.category-select {
    max-width: 120px; 
}

.common-input input[type="text"] {
    display: inline-block;
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
    box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15);
  }
 
 .common-input input[type="text"] + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 3px 0 0 3px;
    padding: 0 20px;
    background: #d5f1b8;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
  
  .common-input input[type="text"]:focus + label{
    transform: translateY(-90%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
  }
  
  .common-input input[type="text"]:focus{
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
  }
  
  /*communities.index.blade.php*/
 .community-btn-wrapper {
     display: flex;
 }
.community-btn a {
  display: inline-block;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #2285b1;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #2285b1;
  margin-left: 10px
}

.community-btn a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
  transition:.6s;
}
  .community-card {
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 4px 15px rgba(0,0,0,.2);
  }   
  
   .community-card:hover {
      transition: .6s;
      box-shadow: 0 4px 30px rgba(0,0,0,.4);
  }
  
   .community-clickable {
       color: #212529;
   }
  
  .community-clickable:hover {
      transition: .6s;
      background-color: rgba(108, 170, 233, 0.2);
  }
  
  /*communities.showGroup.blade.php*/
  
  .community-target {
 position: relative;
  margin: 30px;
  text-align: center;
}

.community-target:before,
.community-target:after {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  display: block;
  content: '';
  border: 1em solid #bfea95;
}

.community-target:before {
  left: -20px;
  border-left-width: 15px;
  border-left-color: transparent;
}

.community-target:after {
  right: -20px;
  border-right-width: 15px;
  border-right-color: transparent;
}

.community-target span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  color: #000000;
  background: #bfea95;
  font-size: 16px;
}

.community-target span:before,
.community-target span:after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-style: solid;
  border-color: #55aa00 transparent transparent transparent;
}

.community-target span:before {
  left: 0;
  border-width: 10px 0 0 10px;
}

.community-target span:after {
  right: 0;
  border-width: 10px 10px 0 0;
}
  
/*rankings.index.blade.php*/

.ranking-category-wrapper {
  display: flex;
}

/* rankings.show.blade.php*/

.table_box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-collapse: collapse;
  width: 70%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 6px 0 0 0;
}

table th:last-child{
  border-radius: 0 6px 0 0;
  border-left: 0.6px solid #ffffff;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#bfea95,#006636);
  border-left: 0.3px solid #ffffff;
  width: 20%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  border-top:none;
  box-shadow: 0px -3px 8px 1px #eee inset;
  width: 20%;
  padding: 12px 0;
  background-color: white;
}

table td:last-child{
  border-right: 1px solid #c3c3c3;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

/*personal.blade.php*/
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    padding: 20px;
    border-radius: 4px;
}

/*その他CSS*/

.required::after {
  content: " *";
  color: red;
  vertical-align: middle;
}

.br-sp {
	  display: none; 
	}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	.br-sp {
	  display: block; 
	}
	
	.posts_btn{
    position: fixed;
    right: 10%;
    top: 85%;
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    z-index: 1;
    opacity: 0.8;
  }
  
  .py-4 {
    padding-top: 0 !important;
  }
  
  .card {
    margin-top: 20px!important;
  }
  
  .card-body {
    padding: 0.5rem!important;
  }

  h5, .h5 {
    font-size: 1rem!important;
  }
  
  body {
    font-size: 0.8rem !important;
  }
  
  /*posts.index.blade.php*/
  .posts-top {
    font-size: 14px !important;
  }
  
  .posts-title {
    margin-top: 20px;
  }
  
  h1, .h1 {
    font-size: 1rem;
  }
  
  .btn {
    padding: 0.3rem;
    font-size: 0.7rem;
  }
  
  .favorite-btn {
      position: absolute;
      top: 35px;
      right: 0px;
      color: #999999;
      display: inline-block;
  }
  
  .posts-delete {
      position: absolute;
      top: 35px;
      right: 75px;
      display: inline-block;
  }
  
  .posts-index-comment {
    margin-bottom: 0 !important;
  }
  /*users.index.blade.php*/
  .posts-comment {
    width: 60%;
  }
  
  /*posts.create.blade.php*/
  .common-input {
    margin-top: 20px;
  }

  .common-input input[type="number"] {
    width: 50%;
  }
  
  .common-input input[type="text"] {
    width: 80%;
  }
  
  .common-input textarea {
    width: 80%;
  }
  
  /*communities.index.blade.php*/
  .community-btn-wrapper {
    display: initial;
  }
 
 .community-btn a {
  padding: 0.5em 1em;
  font-size: 12px;
  margin-top: 10px;
  }
  
  /*rankings.show.blade.php*/
  table, th, td {
    width: auto !important;
    padding: 5px 10px !important;
  }
  
  .table_box {
    width: initial;
  }
}